
<!-- Side bar -->
<div class="sidenav text-small">

  <div class="sidebar-icon-container sidebar-section">
    <div class="sidebar-title">
      <button type="submit" class="btn btn-primary back-button" (click)="onTestOutput();">
        <i class="bi bi-caret-left-fill"></i> Back
      </button>
    </div>
  </div>

  <div class="sidebar-divider"></div>

  <div class="sidebar-icon-container sidebar-section">
    <div class="sidebar-title">
      <b>Gallery</b>
    </div>
    <div class="">
      <img class="img-thumbnail" ngSrc="../assets/grilled-cheese.png" alt="image of food" height="200" width="200">
    </div>
  </div>

  <div class="sidebar-icon-container sidebar-section">
    <div class="sidebar-title">
      <b>Time</b>
    </div>
    <div class="sidebar-section-content">
      <div><b>Prep:</b> 10 min</div>
      <div><b>Cook:</b> 10 min</div>
      <div><b>Total:</b> 20 min</div>
    </div>
  </div>

  <div class="sidebar-icon-container sidebar-section">
    <div class="sidebar-title">
      <b>Additional Info</b>
    </div>
    <div class="sidebar-section-content">
      <div><b>Author: </b>{{author}}</div>
      <div><b>Link: </b>{{link}}</div>
    </div>
  </div>

</div>

<!-- Page content -->
<div class="main text-medium">

  <!-- Title -->
  <div class="padding-bottom-medium padding-top-medium width100">
    <div class="text-title width100 text-center"><b>{{recipeName}}</b></div>
    <div class="width100 text-center">by {{author}}</div>
  </div>

  <!-- Main Content with nav bar -->
  <div class="container">
    <div class="col">

      <!-- Recipe main navigation -->
      <div class="row main-nav-bar bg-white rounded padding-top-medium">
        <ul class="nav nav-tabs nav nav-tabs nav-pills with-arrow lined flex-column flex-sm-row text-center" id="recipeMainTab" role="tablist">
          <li class="nav-item flex-sm-fill" role="presentation">
            <a class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 active" id="recipe-tab" data-bs-toggle="tab" data-bs-target="#recipe" type="button" role="tab" aria-controls="recipe" aria-selected="true">
              Recipe
            </a>
          </li>
          <li class="nav-item flex-sm-fill" role="presentation">
            <a class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="false">
              Description
            </a>
          </li>
        </ul>
      </div>

      <!-- Content body -->
      <div class="row main-content-body tab-content padding-top-medium" id="recipeMainTabContent">

        <!-- Recipe content -->
        <div class="container tab-pane fade show active" id="recipe" role="tabpanel" aria-labelledby="recipe-tab">
          <div class="row">
            <!-- Ingredients -->
            <div class="col-12 recipe-section">
              <!-- Title -->
              <div class="text-subtitle icon-container">
                <img ngSrc="../assets/grocery.png" alt="image of food" height="32" width="32">
                <b>Ingredients</b>
              </div>
              <!-- Content -->
              <div *ngFor="let ingredientSection of ingredientSections; first as isFirstSection; last as isLastSection" class="padding-bottom-medium">
                <div class="card">
                  <div class="card-header">
                    <div class="d-flex flex-row flex-wrap">
                      <div class="input-group input-group-lg rounded section-name-input-container margin-right-small">
                        <input type="search" class="form-control rounded" value="{{ingredientSection.name}}" placeholder="Group Name (optional)" aria-label="Search" aria-describedby="search-addon"/>
                      </div>
                      <button *ngIf="!isLastSection" class="btn btn-lg btn-secondary margin-right-small">
                        <i class="bi bi-arrow-down"></i>
                      </button>
                      <button *ngIf="!isFirstSection" class="btn btn-lg btn-secondary margin-right-small">
                        <i class="bi bi-arrow-up"></i>
                      </button>
                      <button class="btn btn-lg btn-danger margin-right-small">
                        <i class="bi bi-x"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body">
                    <table class="table table-sm table-borderless">
                      <thead>
                      <tr>
                        <th colspan="12" scope="col" class="no-padding"></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let ingredient of ingredientSection.ingredients">
                        <td>
                          <div class="input-group rounded">
                            <input type="search" class="form-control rounded" value="{{ingredient.name}}" placeholder="Ingredient" aria-label="Search" aria-describedby="search-addon" />
                          </div>
                        </td>
                        <td>
                          <div class="input-group rounded">
                            <input type="search" class="form-control rounded" value="{{ingredient.quantity}} {{ingredient.quantityType}}" placeholder="Quantity" aria-label="Search" aria-describedby="search-addon" />
                          </div>
                        </td>
                        <td>
                          <button class="btn btn-danger margin-right-medium">
                            <i class="bi bi-x"></i>
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <button class="btn btn-primary">
                            <i class="bi bi-plus"></i> Add Ingredient
                          </button>
                        </td>
                        <td></td>
                        <td></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                </div>

              </div>

              <button class="btn btn-primary">
                <i class="bi bi-plus"></i> Add Group
              </button>

            </div>
            <!-- Instructions -->
            <div class="col-12 recipe-section">
              <!-- Title -->
              <div class="text-subtitle icon-container">
                <img ngSrc="../assets/cooking.png" alt="image of food" height="32" width="32">
                <b>Instructions</b>
              </div>
              <!-- Content -->
              <div *ngFor="let instructionSection of instructionSections; first as isFirstSection; last as isLastSection;" class="padding-bottom-medium">
                <div class="card">
                  <div class="card-header">
                    <div class="d-flex flex-row flex-wrap">
                      <div class="input-group input-group-lg rounded section-name-input-container margin-right-small">
                        <input type="search" class="form-control rounded" value="{{instructionSection.name}}" placeholder="Group Name (optional)" aria-label="Search" aria-describedby="search-addon"/>
                      </div>
                      <button *ngIf="!isLastSection" class="btn btn-lg btn-secondary margin-right-small">
                        <i class="bi bi-arrow-down"></i>
                      </button>
                      <button *ngIf="!isFirstSection" class="btn btn-lg btn-secondary margin-right-small">
                        <i class="bi bi-arrow-up"></i>
                      </button>
                      <button class="btn btn-lg btn-danger margin-right-small">
                        <i class="bi bi-x"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div *ngFor="let instruction of instructionSection.instructions" class="container">
                      <div class="col">
                        <div class="row padding-bottom-small">
                          <div class="d-flex flex-row">
                            <div class="input-group ingredient-input-container margin-right-small">
                              <div class="input-group-prepend index-col-instruction-input">
                                <span class="input-group-text" id="inputGroup-sizing-default">{{instruction.index}}.</span>
                              </div>
                              <input type="search" class="form-control rounded" value="{{instruction.description}}" placeholder="Group Name (optional)" aria-label="Search" aria-describedby="search-addon"/>
                            </div>
                            <button class="btn btn-secondary margin-right-small">
                              ...
                            </button>
                            <button class="btn btn-danger margin-right-small">
                              <i class="bi bi-x"></i>
                            </button>
                          </div>
                        </div>
                        <div class="row padding-bottom-small">
                          <div class="d-flex flex-row">

                            <div *ngFor="let stepTimer of instruction.stepTimers" class="padding-right-small">

                              <div class="card" style="width: 16rem;">
                                <div class="card-header">
                                  <div class="input-group rounded">
                                    <input type="search" class="form-control rounded margin-right-small" value="{{stepTimer.name}}" placeholder="Group Name (optional)" aria-label="Search" aria-describedby="search-addon"/>
                                    <span>
                                      <button class="btn btn-danger">
                                        <i class="bi bi-x"></i>
                                      </button>
                                    </span>
                                  </div>
                                </div>
                                <div class="card-body card-body-small">
                                  <div class="input-group rounded">
                                    <input type="search" class="form-control rounded margin-right-small" value="{{stepTimer.timeInSeconds}}" placeholder="Group Name (optional)" aria-label="Search" aria-describedby="search-addon"/>
                                    <span>
                                      minutes
                                    </span>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="container">
                      <div class="col">
                        <div class="row padding-bottom-small new-step-button-container">
                          <button class="btn btn-primary">
                            <i class="bi bi-plus"></i> Add Step
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <button class="btn btn-primary">
                <i class="bi bi-plus"></i> Add Group
              </button>

            </div>

            <!-- Additional Information -->
            <div class="col-12 recipe-section">
              <div class="text-subtitle icon-container">
                <img ngSrc="../assets/chef.png" alt="image of food" height="32" width="32">
                <b>Tips and Tricks</b>
              </div>
              <!-- Content -->
              <div *ngFor="let section of tipsAndTricksSections; first as isFirstSection; last as isLastSection;" class="padding-bottom-medium">
                <div class="card">
                  <div class="card-header">
                    <div class="d-flex flex-row flex-wrap">
                      <div class="input-group input-group-lg rounded section-name-input-container margin-right-small">
                        <input type="search" class="form-control rounded" value="{{section.name}}" placeholder="Group Name (optional)" aria-label="Search" aria-describedby="search-addon"/>
                      </div>
                      <button *ngIf="!isLastSection" class="btn btn-lg btn-secondary margin-right-small">
                        <i class="bi bi-arrow-down"></i>
                      </button>
                      <button *ngIf="!isFirstSection" class="btn btn-lg btn-secondary margin-right-small">
                        <i class="bi bi-arrow-up"></i>
                      </button>
                      <button class="btn btn-lg btn-danger margin-right-small">
                        <i class="bi bi-x"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="input-group rounded section-name-input-container margin-right-small">
                      <input type="search" class="form-control rounded" value="{{section.content}}" placeholder="Group Name (optional)" aria-label="Search" aria-describedby="search-addon"/>
                    </div>
                  </div>
                </div>
              </div>

              <button class="btn btn-primary">
                <i class="bi bi-plus"></i> Add Group
              </button>
            </div>


          </div>
        </div>

        <!-- Description content -->
        <div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab">
          <!-- Content -->
          <div *ngFor="let section of descriptionSections; first as isFirstSection; last as isLastSection" class="padding-bottom-medium">
            <div class="card">
              <div class="card-header">
                <div class="d-flex flex-row flex-wrap">
                  <div class="input-group input-group-lg rounded section-name-input-container margin-right-small">
                    <input type="search" class="form-control rounded" value="{{section.name}}" placeholder="Group Name (optional)" aria-label="Search" aria-describedby="search-addon"/>
                  </div>
                  <button *ngIf="!isLastSection" class="btn btn-lg btn-secondary margin-right-small">
                    <i class="bi bi-arrow-down"></i>
                  </button>
                  <button *ngIf="!isFirstSection" class="btn btn-lg btn-secondary margin-right-small">
                    <i class="bi bi-arrow-up"></i>
                  </button>
                  <button class="btn btn-lg btn-danger margin-right-small">
                    <i class="bi bi-x"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="input-group rounded section-name-input-container margin-right-small">
                  <input type="search" class="form-control rounded" value="{{section.content}}" placeholder="Group Name (optional)" aria-label="Search" aria-describedby="search-addon"/>
                </div>
              </div>
            </div>
          </div>

          <button class="btn btn-primary">
            <i class="bi bi-plus"></i> Add Group
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="bottom-right-button-container">
  <button type="submit" class="btn btn-danger bottom-right-button margin-right-small">
    <i class="bi bi-x"></i> Cancel
  </button>
  <button type="submit" class="btn btn-success bottom-right-button">
    <i class="bi bi-save"></i> Save
  </button>
</div>

<ul>
  <li *ngFor="let user of users">
    {{user.id}} - {{user.userName}}
  </li>
</ul>
