@import "node_modules/bootstrap/scss/bootstrap";

/* Side Overview Panel */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  //background-color: #92d5e7;
  background-color: $blue-100;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;
}

.sidenav div {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidebar-title {
  font-size: 1.2rem
}

.sidebar-section {
  padding-bottom: 10px;
}

.sidebar-section-content {
  padding-left: 5px;
}

.sidebar-divider {
  height: 10px;
}

.sidebar-icon-container img {
  margin-right: 5px;
}

.back-button {
  width: 125px;
}

/* Bottom right buttons */
.bottom-right-button-container {
  position: fixed;
  z-index: 2;
  bottom: 10px;
  right: 20px;
}

.bottom-right-button {
  width: 125px;
}


/* Main content*/
.main {
  margin-left: 250px; /* Same as the width of the sidebar */
  color: #181818;
}

.recipe-container {
}

.main-nav-bar {
  padding-bottom: 10px;
}

.main-nav-bar button {
  height: 30px;
  font-size: 1rem;
}

.gallery-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.gallery-image-container {
  border-radius: 10px;
}

.main-content-body {
  padding: 0px 15px;
}

.recipe-table {
  border-spacing:0; /* Removes the cell spacing via CSS */
  border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
}

.recipe-table tr td{
  padding-top: 3px;
  padding-bottom: 3px;
}

.ingredients-table tr:first-of-type td {
  border-top-style: solid;
}

.ingredients-table tr td {
  border-bottom-style: solid;
  border-color: #d3d3d3;
}

.ingredients-table tr td:first-of-type {
  padding-right: 50px;
}

.ingredients-table tr td:nth-of-type(2) {
  padding-right: 150px;
}

.instructions-table tr td {
  padding-right: 8px;
}

.icon-container img {
  margin-right: 10px;
}

.gallery-image-container img {
  padding-right: 0px;
}

.recipe-section {
  padding-bottom: 40px;
}

.recipe-table-divider {
  height: 15px;
}

.section-name-input-container {
  max-width: 300px;
}

.ingredient-input-container {
  max-width: 500px;
}

.ingredient-input-container input{
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.new-step-button-container {
  width: 150px;
  padding-left: 12px;
  padding-bottom: 20px !important;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/* Rounded tabs */

@media (min-width: 576px) {
  .rounded-nav {
    border-radius: 50rem !important;
  }
}

@media (min-width: 576px) {
  .rounded-nav .nav-link {
    border-radius: 50rem !important;
  }
}

/* With arrow tabs */

.with-arrow .nav-link.active {
  position: relative;
}

.with-arrow .nav-link.active::after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #2b90d9;
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

.index-col {
  min-width: 29px;
}

.index-col-instruction-input {
  min-width: 29px;
}

.index-col-instruction-input span {
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
  height: 100%;
}

/* lined tabs */

.lined .nav-link {
  border: none;
  border-bottom: 3px solid transparent;
}

.lined .nav-link:hover {
  border: none;
  border-bottom: 3px solid transparent;
}

.lined .nav-link.active {
  background: none;
  color: #555;
  border-color: #2b90d9;
}

.nav-pills .nav-link {
  color: #555;
}
.text-uppercase {
  letter-spacing: 0.1em;
}

.btn-very-sm {
  @include button-size(0, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
  height: 24px;
}

.card-body-small {
  padding: 8px 10px !important;
}

.margin-right-small {
  margin-right: 10px;
}

.margin-right-medium {
  margin-right: 15px;
}
