<!-- Side bar -->
<div class="sidenav text-small">

  <div class="sidebar-icon-container sidebar-section">
    <div class="sidebar-title">
      <img ngSrc="../assets/left-arrow.png" alt="image of food" height="20" width="20">
      <b>Back</b>
    </div>
  </div>

  <div class="sidebar-divider"></div>

  <div class="sidebar-icon-container sidebar-section">
    <div class="sidebar-title">
      <img ngSrc="../assets/camera.png" alt="image of food" height="20" width="20">
      <b>Gallery</b>
    </div>
    <div class="gallery-image-container">
      <img class="gallery-img" ngSrc="../assets/grilled-cheese.png" alt="image of food" height="200" width="200">
    </div>
  </div>

  <div class="sidebar-icon-container sidebar-section">
    <div class="sidebar-title">
      <img ngSrc="../assets/clock.png" alt="image of food" height="20" width="20">
      <b>Time</b>
    </div>
    <div class="sidebar-section-content">
      <div><b>Prep:</b> 10 min</div>
      <div><b>Cook:</b> 10 min</div>
      <div><b>Total:</b> 20 min</div>
    </div>
  </div>

  <div class="sidebar-icon-container sidebar-section">
    <div class="sidebar-title">
      <img ngSrc="../assets/info.png" alt="image of food" height="20" width="20">
      <b>Additional Info</b>
    </div>
    <div class="sidebar-section-content">
      <div><b>Author: </b>Austen Rozanski</div>
      <div><b>Link: </b> </div>
    </div>
  </div>

</div>

<!-- Page content -->
<div class="main text-medium">
  <!-- Top navigation -->
  <div class="main-nav-bar">
    <button>Recipe</button>
    <button>Bio and Description</button>
    <button>Reviews</button>
    <button>History</button>
  </div>

  <!-- Title -->
  <div class="recipe-section width100">
    <div class="text-title-no-spacing width100 text-center"><b>Grilled Cheese</b></div>
    <div class="width100 text-center">by Austen Rozanski</div>
  </div>
  <!-- Ingredients -->
  <div class="recipe-section">
    <div class="text-subtitle icon-container">
      <img ngSrc="../assets/grocery.png" alt="image of food" height="32" width="32">
      <b>Ingredients</b>
    </div>

    <div class="text-subtitle-2">
      <b>Sandwich</b>
    </div>
    <table class="ingredients-table recipe-table">
      <tr>
        <td>Bread&emsp;&emsp;</td>
        <td><b>4</b> slices</td>
        <td>
          Add to
          <img ngSrc="../assets/shopping-list.png" alt="image of food" height="16" width="16">
        </td>
      </tr>
      <tr>
        <td>Butter&emsp;&emsp;</td>
        <td><b>2</b> tbsp</td>
        <td>
          Add to
          <img ngSrc="../assets/shopping-list.png" alt="image of food" height="16" width="16">
        </td>
      </tr>
      <tr>
        <td>American cheese&emsp;&emsp;</td>
        <td><b>4</b> slices</td>
        <td>
          Add to
          <img ngSrc="../assets/shopping-list.png" alt="image of food" height="16" width="16">
        </td>
      </tr>
    </table>

    <div class="text-subtitle-2">
      <div class="recipe-table-divider"></div>
      <b>Sauce</b>
    </div>
    <table class="ingredients-table recipe-table">
      <tr>
        <td>Bread&emsp;&emsp;</td>
        <td><b>4</b> slices</td>
        <td>
          Add to
          <img ngSrc="../assets/shopping-list.png" alt="image of food" height="16" width="16">
        </td>
      </tr>
      <tr>
        <td>Butter&emsp;&emsp;</td>
        <td><b>2</b> tbsp</td>
        <td>
          Add to
          <img ngSrc="../assets/shopping-list.png" alt="image of food" height="16" width="16">
        </td>
      </tr>
      <tr>
        <td>American cheese&emsp;&emsp;</td>
        <td><b>4</b> slices</td>
        <td>
          Add to
          <img ngSrc="../assets/shopping-list.png" alt="image of food" height="16" width="16">
        </td>
      </tr>
    </table>
  </div>

  <!-- Instructions -->
  <div class="recipe-section">
    <div class="text-subtitle icon-container">
      <img ngSrc="../assets/cooking.png" alt="image of food" height="32" width="32">
      <b>Instructions</b>
    </div>

    <div class="text-subtitle-2">
      <b>Sandwich</b>
    </div>
    <table class="instructions-table recipe-table">
      <tr>
        <td><b>1.</b></td>
        <td>Melt butter in microwave.</td>
      </tr>
      <tr>
        <td><b>2.</b></td>
        <td>While melting butter, head pan over stove on medium heat.</td>
      </tr>
      <tr>
        <td><b>3.</b></td>
        <td>Brush bread slices with butter.</td>
      </tr>
      <tr>
        <td><b>4.</b></td>
        <td>Place 2 slices of cheese between 2 slices of bread and put into pan.</td>
      </tr>
      <tr>
        <td><b>5.</b></td>
        <td>Flip after 2 minutes or when golden brown.</td>
      </tr>
      <tr>
        <td><b>6.</b></td>
        <td>Cook for 2 more minutes and remove from pan.</td>
      </tr>
    </table>

    <div class="text-subtitle-2">
      <div class="recipe-table-divider"></div>
      <b>Sauce</b>
    </div>
    <table class="instructions-table recipe-table">
      <tr>
        <td><b>1.</b></td>
        <td>Melt butter in microwave.</td>
      </tr>
      <tr>
        <td><b>2.</b></td>
        <td>While melting butter, head pan over stove on medium heat.</td>
      </tr>
      <tr>
        <td><b>3.</b></td>
        <td>Brush bread slices with butter.</td>
      </tr>
      <tr>
        <td><b>4.</b></td>
        <td>Place 2 slices of cheese between 2 slices of bread and put into pan.</td>
      </tr>
      <tr>
        <td><b>5.</b></td>
        <td>Flip after 2 minutes or when golden brown.</td>
      </tr>
      <tr>
        <td></td>
        <td><button>Cook Timer | Start | 2:00</button></td>
      </tr>
      <tr>
        <td><b>6.</b></td>
        <td>Cook for 2 more minutes and remove from pan.</td>
      </tr>
    </table>
  </div>

  <!-- Additional Information -->
  <div class="recipe-section">
    <div class="text-subtitle icon-container">
      <img ngSrc="../assets/chef.png" alt="image of food" height="32" width="32">
      <b>Tips and Tricks</b>
    </div>
    <div>
      None.
    </div>
  </div>
</div>

<ul>
  <li *ngFor="let user of users">
    {{user.id}} - {{user.userName}}
  </li>
</ul>
