<div class="col-12 recipe-section">
  <!-- Title -->
  <div class="text-subtitle icon-container">
    <img ngSrc="../assets/cooking.png" alt="image of food" height="32" width="32">
    <b>Instructions</b>
  </div>
  <!-- Content -->
  <div *ngFor="let instructionSection of instructionSections; first as isFirstSection; last as isLastSection;" class="padding-bottom-medium">
    <div class="card">
      <div class="card-header">
        <div class="d-flex flex-row flex-wrap">
          <div class="input-group input-group-lg rounded section-name-input-container margin-right-small">
            <input type="search" class="form-control rounded" value="{{instructionSection.name}}" placeholder="Group Name (optional)" aria-label="Search" aria-describedby="search-addon"/>
          </div>
          <button *ngIf="!isLastSection" class="btn btn-lg btn-secondary margin-right-small">
            <i class="bi bi-arrow-down"></i>
          </button>
          <button *ngIf="!isFirstSection" class="btn btn-lg btn-secondary margin-right-small">
            <i class="bi bi-arrow-up"></i>
          </button>
          <button class="btn btn-lg btn-danger margin-right-small">
            <i class="bi bi-x"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div *ngFor="let instruction of instructionSection.instructions" class="container">
          <div class="col">
            <div class="row padding-bottom-small">
              <div class="d-flex flex-row">
                <div class="input-group ingredient-input-container margin-right-small">
                  <div class="input-group-prepend index-col-instruction-input">
                    <span class="input-group-text" id="inputGroup-sizing-default">{{instruction.index}}.</span>
                  </div>
                  <input type="search" class="form-control rounded" value="{{instruction.description}}" placeholder="Group Name (optional)" aria-label="Search" aria-describedby="search-addon"/>
                </div>
                <button class="btn btn-secondary margin-right-small">
                  ...
                </button>
                <button class="btn btn-danger margin-right-small">
                  <i class="bi bi-x"></i>
                </button>
              </div>
            </div>
            <div class="row padding-bottom-small">
              <div class="d-flex flex-row">

                <div *ngFor="let stepTimer of instruction.stepTimers" class="padding-right-small">
                  <app-recipe-edit-timer></app-recipe-edit-timer>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="col">
            <div class="row padding-bottom-small new-step-button-container">
              <button class="btn btn-primary">
                <i class="bi bi-plus"></i> Add Step
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="btn btn-primary">
    <i class="bi bi-plus"></i> Add Group
  </button>

</div>
