/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f1f1f1;
  /*font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;*/
  font-family: 'Overpass', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-small {
  font-size: 0.9rem;
}

.text-medium {
  font-size: 1.05rem
}

.text-large {
  font-size: 1.5rem;
  font-weight: 300;
}

.text-very-large {
  font-size: 2rem;
  font-weight: 300;
}

.text-title {
  font-size: 2.6rem;
}

.text-subtitle {
  font-size: 1.5rem;
  padding-bottom: 10px;
  padding-top: 10px;
}

.text-subtitle-2 {
  font-size: 1.2rem;
  padding-bottom: 5px;
  padding-top: 5px;
}

.width100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.center {
  margin: auto;
  width: 60%;
}

.no-padding {
  padding: 0px !important;
}

.table td.fit,
.table th.fit {
  white-space: nowrap;
  width: 1%;
}

.padding-right-small {
  padding-right: 5px !important;
}

.padding-right-medium {
  padding-right: 15px !important;
}

.padding-right-large{
  padding-right: 50px !important;
}

.padding-top-small {
  padding-top: 10px !important;
}

.padding-top-medium {
  padding-top: 15px !important;
}

.padding-top-large {
  padding-top: 50px !important;
}

.padding-bottom-small {
  padding-bottom: 5px !important;
}

.padding-bottom-medium {
  padding-bottom: 15px !important;
}

.padding-bottom-large {
  padding-bottom: 50px !important;
}

