<div class="card" style="width: 16rem;">
  <div class="card-header">
    <div class="input-group rounded">
      <input type="search" class="form-control rounded margin-right-small" value="{{name}}" placeholder="Group Name (optional)" aria-label="Search" aria-describedby="search-addon"/>
      <span>
        <button class="btn btn-danger">
          <i class="bi bi-x"></i>
        </button>
      </span>
    </div>
  </div>
  <div class="card-body card-body-small">
    <div class="input-group rounded">
      <input type="search" class="form-control rounded margin-right-small" value="{{timeInSeconds}}" placeholder="Group Name (optional)" aria-label="Search" aria-describedby="search-addon"/>
      <span>
        minutes
      </span>
    </div>

  </div>
</div>
