@import "../recipe-edit.component";


.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  //background-color: #92d5e7;
  background-color: $blue-100;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;
}

.sidenav div {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidebar-title {
  font-size: 1.2rem
}

.sidebar-section {
  padding-bottom: 10px;
}

.sidebar-section-content {
  padding-left: 5px;
}

.sidebar-divider {
  height: 10px;
}

.sidebar-icon-container img {
  margin-right: 5px;
}

.back-button {
  width: 125px;
}

/* Bottom right buttons */
.bottom-right-button-container {
  position: fixed;
  z-index: 2;
  bottom: 10px;
  right: 20px;
}

.bottom-right-button {
  width: 125px;
}
